.banner-container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgb(251, 251, 251,.9),rgba(251,251,251,.9)), url("https://v.fastcdn.co/u/855ba8b8/15701526-0-breather-163395.jpg") no-repeat rgb(221,221,221) center center / cover;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aaa;
}
.banner{
    max-width: 960px;
}
.logo-container{
    width:160px;
    height:160px;
    margin: auto ;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.banner h1{
font-family: Montserrat;
line-height: 3.0625rem;
text-align: center;
box-sizing: border-box;
margin: 0;
font-size: 2.1672rem;
font-style: inherit;
color: #353535;
max-width: 800px;
font-size: 2.75rem;
}
h1.emphasis{

font-style: inherit;
box-sizing: border-box;
color: #2b90d9;
max-width: 700px;
margin: auto;
}
.content p{
font-family: "Maven Pro";
color: #000000;
text-align: center;
line-height: 1.75rem;
font-size: 1.2384rem;
margin: 3rem auto;
max-width: 650px;
}
.content p span{
font-weight: 700;
color: #2b90d9;
}

.funding-link-container{
    text-align: center;
    margin: 2rem auto;
    margin-top: 4rem;
}
.funding-link{
text-decoration: none;
cursor: pointer;
text-align: center;
line-height: 120%;
background: #2B90D9;
padding: 1rem 3rem;
color: #FFFFFF;
font-size: 1.5003rem;
font-family: Montserrat;
font-weight: 400;
height: 3.75rem;
width: 25rem;
border-radius: 5px;
}

.img-container{
    text-align: center;
    margin-top: 3rem;
}
.img-container img{

    width:77px;
    height: 77px;
}
@media screen and (max-width:578px){
    .funding-link-container{
        margin-top: 2rem;
    }
    .banner-container{
        height: calc(100vh - 80px);
        
    }
    .banner h1{
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
    .content p{
        font-size: 1rem;
        margin: 2rem 0;
    }
    .funding-link{
        padding: .35rem .7rem;
        font-size: 1.1rem;
    }
    .img-container{
        display: none;
    }
}