.footer-container{
    width: 100%;
}
.blog-banner{
background: rgb(240,240,240);
display:flex;
align-items: center;
padding: 2rem 0;
width: 100vw !important;
}
.footer-content{
background: rgb(43,144,217);
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 2rem 0;
}
.footer-content h2{
font-family: Montserrat;
text-align: center;
line-height: 2.625rem;
font-size: 1.8576rem;
color: #ffffff;
max-width: 600px;
text-align: center;
}

.btn{
    text-align: center;
    margin: 2rem auto;
}
.btn a{
text-decoration: none;
cursor: pointer;
text-align: center;
line-height: 120%;
background: #2B90D9;
padding: .5rem 2rem;
color: #FFFFFF;
font-size: 1.3003rem;
font-family: Montserrat;
font-weight: 400;
height: 3.75rem;
width: 25rem;
border-radius: 5px;
}
.learn-more-btn{
background: #292D37;
color: #FFFFFF;
}
.learn-more-btn:hover{
    background: #000;
}
.follow p{
font-family: "Maven Pro";
text-align: center;
line-height: 1.5rem;
font-size: 1.0526rem;
cursor: pointer;
text-decoration: underline;
}
.follow .made{
    text-decoration: none;
}
@media screen and (max-width:578px){
    .btn a{
        font-size: 1.1rem;
        padding: .35rem .7rem;
        width: 20rem;
    }
}